<div class="col-xs-12 gram_wrapper">
  
  <div class="slider-outer">
    <div class="left_gram"></div>
    <div class="slider-inner">
      <a href="#" class="left-link"><%= image_tag 'left-arrow.png' %></a>
      <div class="wrapper">
        
        <% @grams.each do |gram| %>
        <div class="center-wrap">
          <div class="slider_gram">
            <%= image_tag gram.picture %>
          </div>
        </div>
        <% end %>
      </div>
      <a href="#" class="right-link"><%= image_tag 'right-arrow.png' %></a>
    </div>
    <div class="right_gram"></div>
  </div>
  
</div>



<script>

</script>
