<div class="gram_wrapper">
  <% @grams.in_groups_of(4) do |gram_row| %>
  <div class="gram_row">
    <% for gram in gram_row %>
    <div class="gram">
      <%= image_tag gram.picture, class: 'img-responsive' %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>


<script>
$( document ).ready(function() {
  
  
  var left_offset = ($(window).width() - 450)/2 -125
  console.log(left_offset);
  
  
  $(".gram").click(function(){
    // var gram_row = $(this).parent()
    // gram_row.toggleClass('gram_row_selected');
    // gram_row.toggleClass('gram_row');
    $(this).toggleClass('gram_selected')
    
  });
  
  
  
  
});
</script>
