<div class="gram_wrapper">
  <% @grams.each do |gram| %>
  <div class="card">
    <div class="handle"><%= gram.user.email %></div>
    <%= image_tag gram.picture, class: 'img-responsive' %>
    <p>
      <%= gram.message %>
    </p>
  </div>
  <% end %>
</div>
